<!--
<!DOCTYPE html>
<h2 style="background-color: Yellow;color: Blue; text-align: center; font-style: oblique">Satyaprakash's Bhubaneswar Google Map Using MVC and BOOTSTRAP</h2>
<fieldset>
    <legend style="font-family: Arial Black; color: blue; font-size: large;">Check Bhubaneswar City</legend>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div id="googleMap" style="height:400px;width:100%;"></div>
    <script>
        function myMap() {
            var myCenter = new google.maps.LatLng(13.7434584, 100.5428397);
            var mapProp = { center: myCenter, zoom: 12, scrollwheel: false, draggable: false, mapTypeId: google.maps.MapTypeId.ROADMAP };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            var marker = new google.maps.Marker({ position: myCenter });
            marker.setMap(map);
        }
    </script>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaVcDyEuGMgcc-GP3IhvNQdR5Lk2iZbqc&callback=myMap"></script>
</fieldset>
<footer>
    <p style="background-color: Yellow; font-weight: bold; color:blue; text-align: center; font-style: oblique">© @DateTime.Now.ToLocalTime()</p> @*Add Date Time*@
</footer>
    -->
<!DOCTYPE html>
<html>
<head>
    <title>Google Maps example</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style type="text/css">

        #map_canvas {
            height: 500px;
            width: 100%;
        }
    </style>

    <script>
    var cities = @Html.Raw(Json.Encode(Model));
    //console.log(cities);v
        $(document).ready(function () {

        // execute
            (function initMap() {
            // map options
            var options = {
                zoom: 8,
                center: new google.maps.LatLng(13.7439874, 100.5404542),
                mapTypeId: google.maps.MapTypeId.TERRAIN,
                mapTypeControl: false
            };

            // init map
            var map = new google.maps.Map(document.getElementById('map_canvas'), options);

                google.maps.event.addListener(map, 'click', function (event) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(event.latLng.lat(), event.latLng.lng()),
                        map: map,
                        title: "Latitude: " + event.latLng.lat() + " " + ", longitude: " + event.latLng.lng()
                    });

              //  alert("Latitude: " + event.latLng.lat() + " " + ", longitude: " + event.latLng.lng());
                });

                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(13.74289, 100.54142),
                    map: map,
                    title: "You Location"
                });
                infoWindow = new google.maps.InfoWindow;
                var infoWindow;
                // Try HTML5 geolocation.
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };

                        infoWindow.setPosition(pos);
                        infoWindow.setContent('คุณอยู่ ที่นี่ !!!.');
                        infoWindow.open(map);
                        map.setCenter(pos);
                    }, function () {
                        handleLocationError(true, infoWindow, map.getCenter());
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }

            for (var i = 0; i < cities.length; i++) {
                // init markers
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(cities[i].Lat, cities[i].Lng),
                    map: map,
                    title: cities[i].Title
                });

                // process multiple info windows
                (function (marker, i) {

                    // add click event
                    google.maps.event.addListener(marker, 'click', function() {
                        infowindow = new google.maps.InfoWindow({
                            content: cities[i].Title
                        });
                        infowindow.open(map, marker);
                    });
                })(marker, i);
                }
                addMarker(bangalore, map);
        })();
    });

    </script> 
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaVcDyEuGMgcc-GP3IhvNQdR5Lk2iZbqc&callback=initMap&libraries=&v=weekly"></script>

</head>
<body>
    <br />
    <div id="map_canvas"></div>
</body>
</html>


<!--
<html>
<head>
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaVcDyEuGMgcc-GP3IhvNQdR5Lk2iZbqc&callback=initMap&libraries=&v=weekly"
            defer></script>
    <style type="text/css">
         /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
         #map {
             height: 400px;
             width: 100%;
         }

         /* Optional: Makes the sample page fill the window. */
         html,
         body {
             height: 100%;
             margin: 0;
             padding: 0;
         }
    </style>
    <script>

        (function (exports) {
            "use strict";

            function initMap() {


                exports.map = new google.maps.Map(document.getElementById("map"), {
                    center: {
                        lat: 13.7434584,
                        lng: 100.5428397
                    },
                    zoom: 8
                });
            }

            exports.initMap = initMap;
        })((this.window = this.window || {}));
    </script>
</head>
<body>
    <div id="map"></div>
</body>
</html>
-->
